<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samfdl">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SD卡中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 向SD卡写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".AllList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityList" />
        <activity android:name=".activity.LauncherActivity1" />
        <activity android:name=".activity.ExpandableListActivity1" />
        <activity android:name=".activity.PreferenceActivity1" />
        <activity android:name=".activity.StartActivity" />
        <activity android:name=".activity.StartActivity2" />
        <activity android:name=".activity.Bundle1" />
        <activity android:name=".activity.BundleResult" />
        <activity android:name=".activity.ActivityForResult" />
        <activity android:name=".activity.ActivityForResultSelectCity" />
        <activity android:name=".activity.ActivityLifeCycle" />
        <activity
            android:name=".activity.ActivityLifeCycle2"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity android:name=".activity.StandMode" />
        <activity
            android:name=".activity.SingleTopMode"
            android:launchMode="singleTop" />
        <activity android:name=".activity.SingleTaskMode" />
        <activity
            android:name=".activity.SingleTaskMode2"
            android:launchMode="singleTask" />
        <activity android:name=".activity.SingleInstanceMode" />
        <activity
            android:name=".activity.SingleInstanceMode2"
            android:launchMode="singleInstance">
            <intent-filter>
                <!-- 指定该Activity能响应Action为指定字符串的Intent -->
                <action android:name="org.crazyit.intent.action.CRAZYIT_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HiddenIntent" />
        <activity android:name=".activity.Fragment1" />
        <activity
            android:name=".activity.FragmentSenior"
            android:label="@string/activity_fragmentsenior_name" />
        <activity
            android:name=".activity.FragmentActivityBookDetail"
            android:label="@string/activity_fragmentsenior_title_book_detail" />
        <activity android:name=".activity.FragmentLifeCycle" />
        <activity
            android:name=".ui.UIList"
            android:label="@string/ui_list" />
        <activity
            android:name=".ui.actionbar.ActionBarList"
            android:label="@string/ui_actionbar_list" />
        <activity android:name=".ui.actionbar.ActionBar1" />
        <activity android:name=".ui.actionbar.ActionItem" />
        <activity android:name=".ui.actionbar.ActionHome" />
        <activity android:name=".ui.actionbar.ActionView" />
        <activity android:name=".ui.actionbar.TabNav" />
        <activity android:name=".ui.actionbar.SwipeNav" />
        <activity android:name=".ui.actionbar.DropDownNav" />
        <activity android:name=".ui.menu.MenuList" />
        <activity android:name=".ui.menu.Menu1" />
        <activity android:name=".ui.menu.ActivityMenu" />
        <activity android:name=".ui.menu.ContextMenu1" />
        <activity android:name=".ui.menu.MenuRes" />
        <activity android:name=".ui.menu.PopupMenu1" />
        <activity android:name=".ui.layout.Layout" />
        <activity android:name=".ui.layout.LinearLayout1" />
        <activity android:name=".ui.layout.RelativeLayout1" />
        <activity android:name=".ui.layout.FrameLayout1" />
        <activity android:name=".ui.layout.GridLayout1" />
        <activity android:name=".ui.layout.AbsoluteLayout1" />
        <activity android:name=".ui.layout.TableLayout1" />
        <activity android:name=".ui.textview.TextViewList" />
        <activity android:name=".ui.textview.TextView1" />
        <activity android:name=".ui.textview.EditText1" />
        <activity android:name=".ui.textview.Button1" />
        <activity android:name=".ui.textview.RadioButton1" />
        <activity android:name=".ui.textview.ToggleButton1" />
        <activity android:name=".ui.textview.Clock" />
        <activity android:name=".ui.textview.Chronometer1" />
        <activity android:name=".ui.imageview.ImageViewList" />
        <activity android:name=".ui.imageview.ImageView1" />
        <activity android:name=".ui.imageview.ImageButton" />
        <activity android:name=".ui.imageview.QuickContactBadge1" />
        <activity android:name=".ui.listview.ListViewList" />
        <activity android:name=".ui.listview.SimpleListView" />
        <activity android:name=".ui.listview.ArrayAdapterListView" />
        <activity android:name=".ui.listview.ListActivity1" />
        <activity android:name=".ui.listview.SimpleAdapterListView" />
        <activity android:name=".ui.listview.BaseAdapterListView" />
        <activity android:name=".ui.listview.AutoCompleteTextView1" />
        <activity android:name=".ui.listview.GridView1" />
        <activity android:name=".ui.listview.ExpandableListView1" />
        <activity android:name=".ui.listview.Spinner1" />
        <activity android:name=".ui.listview.AdapterViewFlipper1" />
        <activity android:name=".ui.listview.StackView1" />
        <activity android:name=".ui.progressbar.ProgressBarList" />
        <activity android:name=".ui.progressbar.ProgressBar1" />
        <activity
            android:name=".ui.progressbar.TitleProgressBar"
            android:theme="@android:style/Theme.Holo" />
        <activity android:name=".ui.progressbar.SeekBar1" />
        <activity android:name=".ui.progressbar.RatingBar1" />
        <activity android:name=".ui.viewanimator.ViewAnimatorList" />
        <activity android:name=".ui.viewanimator.ViewSwitcher1" />
        <activity android:name=".ui.viewanimator.ImageSwitcher1" />
        <activity android:name=".ui.viewanimator.TextSwitcher1" />
        <activity android:name=".ui.viewanimator.ViewFlipper1" />
        <activity android:name=".ui.toast.ToastList" />
        <activity android:name=".ui.toast.Toast1" />
        <activity android:name=".ui.toast.CalendarView1" />
        <activity android:name=".ui.toast.DatePicker1" />
        <activity android:name=".ui.toast.NumberPicker1" />
        <activity android:name=".ui.toast.SearchView1" />
        <activity android:name=".ui.toast.TabHost1" />
        <activity android:name=".ui.toast.ScrollView1" />
        <activity android:name=".ui.toast.Notification1" />
        <activity android:name=".ui.toast.Notification2" />
        <activity android:name=".ui.dialog.DialogList" />
        <activity android:name=".ui.dialog.AlertDialog1" />
        <activity
            android:name=".ui.dialog.DialogTheme"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".ui.dialog.PopupWindow1"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity android:name=".ui.dialog.DatePickerDialog1" />
        <activity android:name=".ui.dialog.ProgressDialog1" />

        <activity android:name=".event.EventList" />
        <activity android:name=".event.ControlPlane" />
        <activity android:name=".event.SendSms" />
        <activity android:name=".event.Ball" />
        <activity android:name=".event.SystemStatus" />
        <activity
            android:name=".event.ChangeConfig"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".event.Handler1" />
        <activity android:name=".event.CalPrime" />
        <activity android:name=".event.AsyncTask1" />

        <activity android:name=".intent.IntentList" />
        <activity android:name=".intent.ComponentAttribute" />
        <activity android:name=".intent.ActionAttribute">
            <intent-filter>
                <!-- 指定该Activity能响应Action为指定字符串的Intent -->
                <action android:name="com.samfdl.intent.action.CRAZYIT_ACTION" />
                <!-- 指定该Activity能响应Action属性为helloWorld的Intent -->
                <action android:name="helloWorld" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".intent.ActionCategoryAttribute">
            <intent-filter>
                <!-- 指定该Activity能响应action为指定字符串的Intent -->
                <action android:name="com.samfdl.intent.action.CRAZYIT_ACTION" />
                <!-- 指定该Activity能响应category为指定字符串的Intent -->
                <category android:name="com.samfdl.intent.category.CRAZYIT_CATEGORY" />
                <!-- 指定该Activity能响应category为android.intent.category.DEFAULT的Intent -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".intent.SystemAction" />
        <activity android:name=".intent.DataTypeOverride" />
        <activity android:name=".intent.DataTypeAttribute" />
        <activity
            android:name=".intent.DataTypeAttributeScheme"
            android:icon="@drawable/intent_datatypeattribute_scheme"
            android:label="指定scheme的Activity">
            <intent-filter>
                <action android:name="xx" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 只要Intent的Data属性的scheme是lee，即可启动该Activity -->
                <data android:scheme="lee" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.DataTypeAttributeSchemeHostPort"
            android:icon="@drawable/intent_datatypeattribute_host"
            android:label="指定scheme、host、port的Activity">
            <intent-filter>
                <action android:name="xx" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 只要Intent的Data属性的scheme是lee，且host是www.fkjava.org
                port是8888即可启动该Activity -->
                <data
                    android:host="www.fkjava.org"
                    android:port="8888"
                    android:scheme="lee" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.DataTypeAttributeSchemeHostPath"
            android:icon="@drawable/intent_datatypeattribute_sp"
            android:label="指定scheme、host、path的Activity">
            <intent-filter>
                <action android:name="xx" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 只要Intent的Data属性的scheme是lee，且host是www.fkjava.org
                path是/mypath，即可启动该Activity -->
                <data
                    android:host="www.fkjava.org"
                    android:path="/mypath"
                    android:scheme="lee" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.DataTypeAttributeSchemeHostPortPath"
            android:icon="@drawable/intent_datatypeattribute_path"
            android:label="指定scheme、host、port、path的Activity">
            <intent-filter>
                <action android:name="xx" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 需要Intent的Data属性的scheme是lee，且host是www.fkjava.org
                port是8888，且path是/mypath，才可启动该Activity -->
                <data
                    android:host="www.fkjava.org"
                    android:path="/mypath"
                    android:port="8888"
                    android:scheme="lee" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.DataTypeAttributeSchemeHostPortPathType"
            android:icon="@drawable/intent_datatypeattribute_type"
            android:label="指定scheme、host、port、path、type的Activity">
            <intent-filter>
                <action android:name="xx" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 需要Intent的Data属性的scheme是lee，且host是www.fkjava.org
                port是8888，且path是/mypath
                且type是abc/xyz，才可启动该Activity -->
                <data
                    android:host="www.fkjava.org"
                    android:mimeType="abc/xyz"
                    android:path="/mypath"
                    android:port="8888"
                    android:scheme="lee" />
            </intent-filter>
        </activity>
        <activity android:name=".intent.ActionData" />
        <activity android:name=".intent.IntentTab" />
        <activity android:name=".intent.IntentTabBeCalled" />
        <activity android:name=".intent.IntentTabCalled" />
        <activity android:name=".intent.IntentTabNoCall" />

        <activity android:name=".res.ResList" />
        <activity android:name=".res.ValuesRes" />
        <activity android:name=".res.ArrayRes1" />
        <activity android:name=".res.StateListDrawable1" />
        <activity android:name=".res.ClipDrawable1" />
        <activity android:name=".res.AnimationDrawable1" />
        <activity android:name=".res.PropertyAnimation" />
        <activity android:name=".res.XmlRes1" />
        <activity android:name=".res.StyleRes1" />
        <activity android:name=".res.AttributeRes" />
        <activity android:name=".res.RawRes1" />
        <activity android:name=".res.I18N" />
        <activity android:name=".res.Dpi" />
        <activity android:name=".res.ScreenSize" />

        <activity android:name=".io.IOList" />
        <activity android:name=".io.SharedPreferences1" />
        <activity android:name=".io.File1" />
        <activity android:name=".io.SDCard" />

        <activity android:name=".graphics.GraphicsList" />
        <activity android:name=".graphics.Bitmap1" />
        <activity android:name=".graphics.Canvas1" />
        <activity android:name=".graphics.Path1" />
        <activity android:name=".graphics.PathText" />
        <activity android:name=".graphics.HandDraw" />
        <activity android:name=".graphics.PinBall" />
        <activity android:name=".graphics.Matrix1" />
        <activity android:name=".graphics.MoveBack" />
        <activity android:name=".graphics.Mesh" />
        <activity android:name=".graphics.Shader1" />
        <activity android:name=".graphics.FatPo" />
        <activity android:name=".graphics.Blast" />
        <activity android:name=".graphics.TweenAnim" />
        <activity android:name=".graphics.Butterfly" />
        <activity android:name=".graphics.ListViewTween" />
        <activity android:name=".graphics.ObjectAnimator1" />
        <activity android:name=".graphics.BouncingBalls" />
        <activity android:name=".graphics.SurfaceView1" />
        <activity android:name=".graphics.ShowWave" />

        <activity android:name=".web.WebList" />
        <activity android:name=".web.URL1" />
        <activity android:name=".web.WebView1" />
        <activity
            android:name=".web.GeckoView1"
            android:label="GeckoView mozilla 浏览器内核" />
    </application>

</manifest>